<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_mooddiary_domain_MoodEntry" items="${moodentrys}" z="4R0jjfous+Ji5BjhyVt/Oi1V8+k=">
        <table:table data="${moodentrys}" id="l_mooddiary_domain_MoodEntry" path="/moodentrys" z="zuCStWwLzCC9n5XtHMGE9MbZMcs=">
            <table:column calendar="true" dateTimePattern="${moodEntry_datelogged_date_format}" id="c_mooddiary_domain_MoodEntry_dateLogged" property="dateLogged" z="55uP9BduuvbtrsJSWHaGQMa+hfM="/>
            <table:column id="c_mooddiary_domain_MoodEntry_currentMood" property="currentMood" z="bdFh24WZYVaBb4qrVid9Zgki5/A="/>
            <table:column id="c_mooddiary_domain_MoodEntry_dayMood" property="dayMood" z="oJVhJsxlwnb/Uhkv+7Dx6nno7FA="/>
            <table:column id="c_mooddiary_domain_MoodEntry_predominantEmotion" property="predominantEmotion" z="fmiQEsaaNoZVxfzholqMoiDO+Jw="/>
        </table:table>
    </page:list>
</div>
