<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <h3>Group Comparison Of Actual Sleep Hours vs Sleep Ratings</h3>
    <br/>
	<script type='text/javascript'>
		// Load the Visualization API and the piechart package.
    	google.load('visualization', '1', {'packages':['corechart']});
      
    	// Set a callback to run when the Google Visualization API is loaded.
    	google.setOnLoadCallback(drawChart);
    	
    	function drawChart() {
    	    var jsonData = $.ajax({
    	    	type:'GET',
    	        url: "/sleeps?getAllComboChartData",
    	        dataType:"json",
    	        async: false
    	        }).responseText;   
    	    // Create our data table out of JSON data loaded from server.
    	    var data = new google.visualization.DataTable(jsonData);
    	    
    	    var options = {
    	                    title: 'Group Sleep Ratings vs. Hours Slept Comparison',
    	                    hAxis: {title: 'Ratings', minValue: 0, maxValue: 10},
    	                    vAxis: {title: 'Hours', minValue: 0, maxValue: 24},
    	                    legend: 'none'
    	                  };

    	                  var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
    	                  chart.draw(data, options);
    	                }
    	              </script>



	
	<div id="chart_div" style="width: 800px; height: 600px;">chart loading...</div>
</div>