<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_drink_domain_Plan" label="Weekly Plan" modelAttribute="plan" path="/plans" render="${empty dependencies}" z="">
        <field:datetime dateTimePattern="${plan_startdate_date_format}" field="startDate" id="c_drink_domain_Plan_startDate" z=""/>
    </form:create>
</div>
