<div id="sidebar_container" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  <div class="sidebar">
  	<h2>Note:</h2>
  	<p>This is our recommended drinking plan for you. The drinking amounts are reduced to 90% of that you have consumed recently.</p>
  </div>
</div>