<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_slx_domain_ClientSleep" modelAttribute="clientSleep" path="/clientsleeps" versionField="Version" z="mWl9XCpU+YhDHrVTEXYNlpqb+5U=">
        <field:input decimalMax="16" decimalMin="4" field="sleep_target" id="c_com_slx_domain_ClientSleep_sleep_target" required="true" z="wCk2IZsvuTqp0kUhwi5onk7YPC0="/>
                <p>We recommend 6-8 hours daily sleep for adults and 8-12 hours sleep for children. (only 4-16 Hours permitted)</p>
        
        <field:select field="clientId" id="c_com_slx_domain_ClientSleep_clientId" itemValue="id" items="${updateClientId}" path="/clients" required="true" z="user-managed"/>
    </form:update>
</div>
