<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_betterliving_weightmanagement_doman_WeightStatus" items="${weightstatuses}" z="cl9tUoGfCEcvgCewe8QURmoKCkI=">
        <table:table data="${weightstatuses}" id="l_com_betterliving_weightmanagement_doman_WeightStatus" path="/weightstatuses" z="6KWJsxJRbDhatu//w9Xw27Q0yKM=">
            <table:column date="true" dateTimePattern="${weightStatus_logdate_date_format}" id="c_com_betterliving_weightmanagement_doman_WeightStatus_logdate" property="logdate" z="UGDulf/a/drrE7xVlSbWPtUw3BI="/>
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightStatus_weight" property="weight" z="OX0CtOw1xUZbF7njBi1bepBEanA="/>
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightStatus_weightloss" property="weightloss" z="mnZrMV/G7acUZm/oou7I9uWG3w4="/>
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightStatus_diary" property="diary" z="nBuNTmuoX84gwrHQVy4tNAi+/Cs="/>
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightStatus_customerId" property="customerId" render="false" z="user-managed"/>
        </table:table>
    </page:list>
</div>
