<div id="sidebar_container" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
	<div class="sidebar">
	<p>
	This Chart is based on the weight you logged in your dairy. Showing you weight status.
	</p>
	</div>
</div>