<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_drink_domain_Drinker" items="${drinkers}" z="BKo/YnnwdEHSs0PLeYNyFaXOSg0=">
        <table:table data="${drinkers}" delete="false" id="l_drink_domain_Drinker" path="/drinkers" z="wLBU1MzO29ZfEcJMhauPcor+5Hw=">
            <table:column id="c_drink_domain_Drinker_username" property="username" z="TyzJTFyjwpwtvsh86rnHQu0+LmI="/>
            <table:column id="c_drink_domain_Drinker_password" property="password" z="/RGFPCVgarAC25bXkFNCviVa9kU="/>
            <table:column id="c_drink_domain_Drinker_profile" property="profile" z="axk4DlscUcB3BUGmPai7SjvKc0s="/>
        </table:table>
    </page:list>
</div>
