<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_drink_domain_Log" label="Diary" object="${log}" path="/logs" z="">
        <field:display date="true" dateTimePattern="${log_drinkdate_date_format}" field="drinkDate" id="s_drink_domain_Log_drinkDate" object="${log}" z="9yi/wVr7jlXuP6/tZsTqOZyKcKM="/>
        <field:display field="amount" id="s_drink_domain_Log_amount" label="amount (ml)" object="${log}" z=""/>
        <field:display field="name" id="s_drink_domain_Log_beverage_name" label="beverage name" object="${log.beverage}" z=""/>
        <field:display field="volume" id="s_drink_domain_Log_beverage_volume" label="beverage ABV (%)" object="${log.beverage}" z=""/>
    </page:show>
</div>
