<div id="sidebar_container" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
  <script>
	$(function() {
		$("#login").button();
		$("#sign_up").button();
	});
  </script>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  <div class="sidebar">
  	<c:if test="${pageContext['request'].userPrincipal != null}">
  		<h2>Note:</h2>
  		<p>According to the 
  			<a href="http://www.drinkwise.org.au/you-alcohol/alcohol-facts/the-australian-guidelines/">
  				 Australian Guidelines for Drinking Alcohol
  			</a>:</p>
  		<p>For healthy men and women, drinking no more than two (2) standard alcoholic drinks on any given day reduces the lifetime risk of disease or injury</p>
  		<p>For healthy men and women, drinking no more than four (4) standard alcoholic drinks on a single occasion reduces the risk of alcohol-related injury arising from that occasion</p>
  		<p>See the Wikipedia definition for a better explanation of standard drinks 
  			<a href="http://en.wikipedia.org/wiki/Standard_drink">here</a>.</p>
  	</c:if>
  	
  	<c:if test="${pageContext['request'].userPrincipal == null}">
  		<h3>Welcome, please </h3>
  		<div align="center">
  			<a href="/login">
        		<button id="login"><spring:message code="login_text" /></button>
      		</a>
      		<br/>
      		<h4>or</h4>
      		<a href="/drinkers?form">
        		<button id="sign_up"><spring:message code="sign_up_text" /></button>
      		</a>
      	</div>	  			
  	</c:if>
  </div>
</div>