<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_mooddiary_domain_MoodTrend" modelAttribute="moodTrend" path="/moodtrends" render="${empty dependencies}" z="TnxwPASntQl9QhnEWHboSOp/MGU=">
        <field:checkbox field="suddenDrop" id="c_mooddiary_domain_MoodTrend_suddenDrop" z="52chRs6iyOaca/km1hFsp37En2Q="/>
        <field:checkbox field="isUpset" id="c_mooddiary_domain_MoodTrend_isUpset" z="y1GiZHt+XkJ3F3fT/jGpWcfx4pA="/>
        <field:input field="avgRatingForPeriod" id="c_mooddiary_domain_MoodTrend_avgRatingForPeriod" z="KgsrYhRz35wiG3Xjn2QfAcgZNEQ="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_mooddiary_domain_MoodTrend" render="${not empty dependencies}" z="m+/tWmKaxHQhf2hbqx8Rqnv56gs="/>
</div>
