<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_betterliving_weightmanagement_doman_Comment" object="${comment}" path="/comments" z="6guE+cqtJ2IuPhgzrTQF+v2tgHo=">
        <field:display field="comment" id="s_com_betterliving_weightmanagement_doman_Comment_comment" object="${comment}" z="ZY46zhoO/yg8+TTAkOTH9V+pdwk="/>
        <field:display date="true" dateTimePattern="${comment_commentdate_date_format}" field="commentdate" id="s_com_betterliving_weightmanagement_doman_Comment_commentdate" object="${comment}" z="FYWjzVswYzDjtoDWI+oDUkVWU8c="/>
        <field:display field="customerId" id="s_com_betterliving_weightmanagement_doman_Comment_customerId" object="${comment}" render="false" z="user-managed"/>
        <field:display field="friendId" id="s_com_betterliving_weightmanagement_doman_Comment_friendId" object="${comment}" render="false" z="user-managed"/>
    </page:show>
</div>
