<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_betterliving_weightmanagement_doman_WeightLossPlan" items="${weightlossplans}" z="fgELF2spx+ywNX+hmiK9Tkqb1Ls=">
        <table:table data="${weightlossplans}" id="l_com_betterliving_weightmanagement_doman_WeightLossPlan" path="/weightlossplans" z="GS6z+Ye8uIHl5E+Ftp0qdB6tZT8=">
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightLossPlan_startweight" property="startweight" z="slFWLbsWIHRJjQK+m6lz/ZZkzAw="/>
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightLossPlan_endweight" property="endweight" z="OkQqiZSilSmJJMNxnC9vdBtq4Ac="/>
            <table:column date="true" dateTimePattern="${weightLossPlan_startdate_date_format}" id="c_com_betterliving_weightmanagement_doman_WeightLossPlan_startdate" property="startdate" z="QC0hIpnJ2o9Xeo4IYgn6hcX0V18="/>
            <table:column date="true" dateTimePattern="${weightLossPlan_enddate_date_format}" id="c_com_betterliving_weightmanagement_doman_WeightLossPlan_enddate" property="enddate" z="YSjZ9D+bBd7Hqm3WZpVKLyAjfX4="/>
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightLossPlan_detail" property="detail" z="/pzubghEgJkDODKrNffpwz9p3sI="/>
            <table:column id="c_com_betterliving_weightmanagement_doman_WeightLossPlan_customerId" property="customerId" render="false" z="user-managed"/>
        </table:table>
    </page:list>
</div>
