<div id="sidebar_container" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
  <script>
	$(function() {
		$("#logout").button();
		$("#login").button();
		$("#sign_up").button();
	});
  </script>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <jsp:output omit-xml-declaration="yes"/>
  <div class="sidebar">
  	<c:if test="${pageContext['request'].userPrincipal != null}">
    	<h3>Welcome, ${pageContext['request'].userPrincipal.name}</h3>
    	<div align="center">
      		<spring:url value="/resources/j_spring_security_logout" var="logout"/>
      		<a href="${logout}">
        		<button id="logout"><spring:message code="security_logout"/></button>
      		</a>
      	</div>
  	</c:if>
  	
  	<c:if test="${pageContext['request'].userPrincipal == null}">
  		<h3>Welcome, please </h3>
  		<div align="center">
  			<a href="/drink/login">
        		<button id="login">login</button>
      		</a>
      		<br/>
      		<h4>or</h4>
      		<a href="/drink/drinkers?form">
        		<button id="sign_up">Sign Up</button>
      		</a>
      	</div>	  			
  	</c:if>
  </div>
</div>