<div xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <spring:message var="app_name" code="application_name" htmlEscape="false" />
  <spring:message var="title" code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
  <util:panel id="title" title="${title}">
    <h3>
      <a href="../FortyTwo/login">Click here to log in</a>
    </h3>
    <p>
		You've just lost your job. You're depressed, and you're drinking all your troubles away. Problem is, it's making you sad, fat <em>and</em> poor.
	</p>
	<p>
		FortyTwo is here to help you with all of those things (except your job, but you'll be much more employable once you stop hitting the bottle).
	</p>
	<p>
		Featuring:
	</p>
	<ul>
		<li>a weight management system,</li>
		<li>a money management system,</li>
		<li>a sleep log,</li>
		<li>a mood diary, and</li>
		<li>a diary to manage alcohol consumption,</li>
	</ul>
	<p>
		the app’s strength lies in its consolidation of a variety of tools, so that you can work towards your self-improvement goals on one easy-to-use website.
    </p>
	<p>
		<a href="http://www.ug.it.usyd.edu.au/~aomo2987/howto.html">Click here</a> for a quick tutorial on how to use the mood diary.
	</p>
  </util:panel>
</div>