<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_moneymanagement_Users" modelAttribute="users" path="/users" render="${empty dependencies}" z="user-managed">
        <field:textarea field="password" id="c_moneymanagement_Users_password" required="true" z="cNc2oIQOFu91rS8aBDgLNypQ89w="/>
        <field:input field="username" id="c_moneymanagement_Users_username" max="16" min="6" required="true" validationRegex="^[a-zA-Z0-9]+$" z="jcKW1pMUAB70CGY1KDLyax8xVQg="/>
        <field:select field="profile" id="c_moneymanagement_Users_profile" itemValue="id" items="${profiles}" path="/profiles" z="/Dj3PYylbt6Z0kR73NNTxxKhTcs="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_moneymanagement_Users" render="${not empty dependencies}" z="PvFIrXZOzwe36bQmRZE9IESBqoo="/>
</div>
