<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_moneymanagement_Income" items="${incomes}" z="jPjFfwopSfwndJhpak0S9cq3YuA=">
        <table:table data="${incomes}" id="l_moneymanagement_Income" path="/incomes" z="pWYz0yUlS4Asx8kSFKsA882fmFQ=">
            <table:column id="c_moneymanagement_Income_income_name" property="income_name" z="JqQ0byXYd0PUj2ckWyFxLz5dgrk="/>
            <table:column id="c_moneymanagement_Income_amount" property="amount" z="FlFCxMnqDQSdXOB9NleI+64iinA="/>
            <table:column calendar="true" dateTimePattern="${income__date_date_format}" id="c_moneymanagement_Income__date" property="_date" z="uSlbVRyP9LUkiYRfEQWkMDjHxb0="/>
            <table:column id="c_moneymanagement_Income_Categories" property="categories" z="tbXvGltMBn0hmSM7pLTv2dhAHyY="/>
        </table:table>
    </page:list>
</div>

<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_moneymanagement_Expense" items="${expenses}" z="mmCkhqoHjTqimw5niyhIZ+kPcsM=">
        <table:table data="${expenses}" id="l_moneymanagement_Expense" path="/expenses" z="8hu2cc0Ag21Hvndavg6X348rLw0=">
            <table:column id="c_moneymanagement_Expense_expense_name" property="expense_name" z="4ggFxSbRG++/FWX8bPyiLFgNeYI="/>
            <table:column id="c_moneymanagement_Expense_amount" property="amount" z="84px4Ssaj4/1iEhl9VwE2uw37gI="/>
            <table:column calendar="true" dateTimePattern="${expense__date_date_format}" id="c_moneymanagement_Expense__date" property="_date" z="u4oELW4IyfeYvgKDoObOJsHMWnI="/>
            <table:column id="c_moneymanagement_Expense_Categories" property="categories" z="CeJrg7lh8mFicdksrS+X2Vi7880="/>
        </table:table>
    </page:list>
</div>